body {
  overflow-x: auto;
}
.bjs-powered-by {
  display: none;
}
.djs-palette-entries {
  display: none !important;
}
.djs-palette {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98% !important;
  height: 40px;
  line-height: 40px;
  border: 1px solid #E1E4EB;
  background-color: #F5F5F5;
}
