// Typefaces
$arial: Source Han Sans SC;

// text sizes
$text-x-large: 34px;
$text-large: 24px;
$text-medium: 20px;
$text-small: 18px;
$text-x-small: 15px;

// Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-link-color: $gold;
